# Xcode build artifacts
build/
DerivedData/

# Xcode user data
*.xcuserstate
*.xcodeproj/xcuserdata/*

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/

# CocoaPods (if used)
Pods/
Podfile.lock

# IDE
.idea/
*.swp
*.swo

# Environment
.env
.env.local
.claude/*
logs/*
Lights Timer.xcodeproj/xcuserdata/*
Lights Timer.xcodeproj/xcuserdata/petergelgor.xcuserdatad/xcschemes/xcschememanagement.plist
